/*
* This is the style file for the Android design.
*/

:root {
  --main-background: lightslategray;
  --white: white;
}

/* Toolbar */

.toolbar {
  background-color: var(--main-background);
}

.toolbar--material__center {
  color: var(--white);
}

:checked + .tabbar--material__button {
  color: var(--white);
}

.tabbar--material__button {
  color: var(--white);
}

.tabbar--material {
  background-color: var(--main-background);
}

.tabbar--material__border {
  background-color: var(--white);
}

/* Fab Button */

ons-fab.fab--material {
  background-color: var(--main-background);
}

ons-fab.fab--mini,
ons-speed-dial-item.fab--mini,
button.fab--mini {
  background-color: var(--main-background);
}
